<div class="góra">
    <div class="row head">
        <div class="nazwa col-sm-12">
          <h3> <%= link_to @nazwa,home_index_path %> </h3>
        </div>
        <div class="menu col-sm-12">
          <%= link_to image_tag("koszyk.png", border: 0), basket_path %>
          <%= link_to image_tag("placnosc.png", border: 0), checkout_path %>
        </div>
    </div>
</div>
