<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <% @kategorie.each do |kategoria| %>
          <li>
            <%= link_to kategoria.name, category_show_path(kategoria.id) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</nav>
<!-- ma tu być lista dl aby było można łatwo nawigować podkategoriami -->
