<div class="col-sm-2"><h1><%= @cat.name %></h1></div>
<div class="col-sm-8">



    <div class="lista_produktów">

      <table>
        <tbody>

        <% @cat.products.order(@sort).each do |product| %>
            <tr class="wiersz">
                <th><%= link_to product.name, product_path(product.permalink) %></th>
                <th><%= product.short_description %></th>
                <th><b>Cena:</b> <%= number_to_currency product.price %></th>
                <th><% @id=product.id %><%= image_tag product.default_image.path %> </th>
            </tr>
        <% end %>
      </tbody>
  </table>

  </div>

</div>
<div class="col-sm-2"></div>
