<h1>Witam tu możesz podać podstwawowe dane twojego sklepu. </h1>

  <h2>obecne dane</h2>

  <table>
      <tr>
        <th>
          Nazwa sklepu
        </th>
        <th>
          Adres
        </th>
        <th>
          NR. Konta
        </th>
      </tr>
      <tr>
        <td>
          <%= @sklep.nazwa %>
        </td>
        <td>
          <%= @sklep.adres %>
        </td>
        <td>
          <%= @sklep.konto %>
        </td>
      </tr>
  </table>

  <%= form_for @sklep do |f| %>
    <%= f.label :nazwa %>:
    <%= f.text_field :nazwa %><br />

    <%= f.label :adres %>:
    <%= f.text_field :adres %><br />

    <%= f.label :konto %>:
    <%= f.text_field :konto %><br />

    <%= f.submit %>
  <% end %>
