<div class="col-sm-4">
  <h3> Przelew </h3>
  <p> Wysyłka po otrzymaniu przelewu </p>
</div>
<div class="col-sm-4">
  <h3>Paczka pobraniowa </h3>
  <p> Wysyłka na koszt kupującego </p>
</div>
<div class="col-sm-4">
  <h3>Odbiór osobisty</h3>
  <p> obdiór towaru w sklepie </p>
</div>
