
<%= render partial: "share/karuzela" %>

<div class="col-sm-4">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed elit enim. In eget tellus risus. Praesent sed dolor urna.
Aenean iaculis sodales dui, et pharetra enim placerat vel. In sagittis viverra leo in fringilla. Donec varius leo mi,
 non lacinia nisl rutrum quis. Etiam maximus finibus nulla, tincidunt commodo mi volutpat ut. Morbi vulputate,
  diam nec tincidunt tincidunt, dolor tortor suscipit urna, a interdum lorem nisi eget velit. Suspendisse a sollicitudin est.
 Aliquam volutpat diam ac diam pretium, in faucibus magna semper. Nunc bibendum interdum dui quis viverra.
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed elit enim. In eget tellus risus. Praesent sed dolor urna.
 Aenean iaculis sodales dui, et pharetra enim placerat vel. In sagittis viverra leo in fringilla. Donec varius leo mi,
  non lacinia nisl rutrum quis. Etiam maximus finibus nulla, tincidunt commodo mi volutpat ut. Morbi vulputate,
   diam nec tincidunt tincidunt, dolor tortor suscipit urna, a interdum lorem nisi eget velit. Suspendisse a sollicitudin est.
  Aliquam volutpat diam ac diam pretium, in faucibus magna semper. Nunc bibendum interdum dui quis viverra. </div>
<div class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed elit enim. In eget tellus risus. Praesent sed dolor urna.
Aenean iaculis sodales dui, et pharetra enim placerat vel. In sagittis viverra leo in fringilla. Donec varius leo mi,
 non lacinia nisl rutrum quis. Etiam maximus finibus nulla, tincidunt commodo mi volutpat ut. Morbi vulputate,
  diam nec tincidunt tincidunt, dolor tortor suscipit urna, a interdum lorem nisi eget velit. Suspendisse a sollicitudin est.
 Aliquam volutpat diam ac diam pretium, in faucibus magna semper. Nunc bibendum interdum dui quis viverra.
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed elit enim. In eget tellus risus. Praesent sed dolor urna.
 Aenean iaculis sodales dui, et pharetra enim placerat vel. In sagittis viverra leo in fringilla. Donec varius leo mi,
  non lacinia nisl rutrum quis. Etiam maximus finibus nulla, tincidunt commodo mi volutpat ut. Morbi vulputate,
   diam nec tincidunt tincidunt, dolor tortor suscipit urna, a interdum lorem nisi eget velit. Suspendisse a sollicitudin est.
  Aliquam volutpat diam ac diam pretium, in faucibus magna semper. Nunc bibendum interdum dui quis viverra.</div>
<div class="col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed elit enim. In eget tellus risus. Praesent sed dolor urna.
Aenean iaculis sodales dui, et pharetra enim placerat vel. In sagittis viverra leo in fringilla. Donec varius leo mi,
 non lacinia nisl rutrum quis. Etiam maximus finibus nulla, tincidunt commodo mi volutpat ut. Morbi vulputate,
  diam nec tincidunt tincidunt, dolor tortor suscipit urna, a interdum lorem nisi eget velit. Suspendisse a sollicitudin est.
 Aliquam volutpat diam ac diam pretium, in faucibus magna semper. Nunc bibendum interdum dui quis viverra.
 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed elit enim. In eget tellus risus. Praesent sed dolor urna.
 Aenean iaculis sodales dui, et pharetra enim placerat vel. In sagittis viverra leo in fringilla. Donec varius leo mi,
  non lacinia nisl rutrum quis. Etiam maximus finibus nulla, tincidunt commodo mi volutpat ut. Morbi vulputate,
   diam nec tincidunt tincidunt, dolor tortor suscipit urna, a interdum lorem nisi eget velit. Suspendisse a sollicitudin est.
  Aliquam volutpat diam ac diam pretium, in faucibus magna semper. Nunc bibendum interdum dui quis viverra.</div>
