
<h2>Make your payment</h2>
<%= form_tag do %>
  <dl>
    <dt><%= label_tag 'card_number' %></dt>
    <dd><%= text_field_tag 'card_number' %></dd>
    <dt><%= label_tag 'expiry' %></dt>
    <dd><%= text_field_tag 'expiry' %></dd>
    <dt><%= label_tag 'security_code' %></dt>
    <dd><%= text_field_tag 'security_code' %></dd>
    <dd><%= submit_tag "Continue" %></dd>
  </dl>
<% end %>

<button onclick="PrintElem()">Drukuj</button>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
</style>
<table class="tg" id="printTable">
  <tr>
    <th class="tg-031e" colspan="3"><p><sub> nazwa odbiorcy </sub></p><%= @sklep.nazwa %> <%= @sklep.adres %></th>
  </tr>
  <tr>
    <td class="tg-031e" colspan="3"><%=  @sklep.konto %></td>
  </tr>
  <tr>
    <td class="tg-031e"></td>
    <td class="tg-031e pln">PLN</td>
    <td class="tg-031e"><%= number_to_currency @order.total %></td>
  </tr>
  <tr>
    <td class="tg-031e" colspan="3">kasa słownie<br></td>
  </tr>
  <tr>
    <td class="tg-031e" colspan="3"><%= @order.first_name %><br> <%= @order.last_name %></td>
  </tr>
  <tr>
    <td class="tg-031e" colspan="3">tytuł</td>
  </tr>
  <tr>
    <td class="tg-031e">podpis<br></td>
    <td class="tg-031e">oplata</td>
    <td class="tg-031e">pieczątka</td>
  </tr>
</table>


<script type="text/javascript">
function PrintElem(elem)
    {
        $elem = document.getElementById("printTable");
        Popup($(elem).html());
    }

    function Popup(data)
    {
        var mywindow = window.open('', 'my div', 'height=400,width=600');
        mywindow.document.write('<html><head><title></title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body style="direction:rtl;"><pre>');
        mywindow.document.write(data);
        mywindow.document.write('</pre></body></html>');
        mywindow.document.close();
        mywindow.print();
        return true;
    }
</script>
