// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "orders";
@import "category";
.container-full{
  width: 100%;
  margin: 0 auto;
    //background-color: rgba(0, 0, 28, 0.2);
  height: 200px;

}
.cointainer_prawa{
  margin-left: 25%;
  margin-right: 1%;
  margin-top: 1%;
}
.góra
{
  Z-index: 999;
  color: white;
  background-color: black !important;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-bottom: 15px;
  .nazwa
  {
    margin-left: 5%;
  }
  .menu{
    position: absolute;
    right: 0px;
    width: 300px;
    display: block;
    bottom: 0;
      a{
        margin-right: 10px;
      }
  }
}

.item{
  margin-left: 5%;
  margin-right: 5%;
  width: 80%;
  height: 20em;
  h1{
    text-align: center;
    margin: auto;

  }
}

//napisanie bootsrapa

  .lewo_karuzela
    {
      position:absolute;
	    top: 50%;
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(https://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/br_prev.png);
    }

  .prawo_karuzela{

    margin-left: 75%;
    position:absolute;
	  top: 50%;
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(https://cdn4.iconfinder.com/data/icons/cc_mono_icon_set/blacks/48x48/br_next.png);
  }
  #myCarousel {
    margin-bottom: 20px;
  }



.carousel-control.left, .carousel-control.right {
    background-image: none
}
