// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tg {
  width: 750px !important;
  padding: 20px;

  .pln {
    text-align: center;
  }
  tr{
    th{

    }
  }
}
