
<div class="col-sm-3"></div>
<div class="col-sm-6">


  <h2><%= @product.name %></h2>

  <% if @product.default_image %>
    <%= image_tag @product.default_image.path, :width => '200px', :style => "float:right" %>
  <% end %>

  <p><%= @product.short_description %></p>
  <p>
    <b><%= number_to_currency @product.price %></b>
    <%= link_to "Add to basket", product_path(@product.permalink), :method => :post %>
  </p>

  <hr>
  <%= simple_format @product.description %>
  <hr>

  <p><%= link_to "Back to list", root_path %></p>

</div>
<div class="col-sm-3"></div>
