<!DOCTYPE html>
<html>
<head>
  <title>Sklep</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_order %>
    <p style="border:1px solid black;padding:10px;">
      POsiadasz <%= pluralize current_order.total_items, 'item'%> w swoim koszyku ołącznej cenie
      <%= number_to_currency current_order.total_before_tax %>.
    </p>
  <% end %>

  <%= link_to "View basket", basket_path %>
  <%= link_to "Checkout", checkout_path %>
  <%= flash[:notice] %>
  <div class="cointainet_lewa ">
    <%= render partial: "share/menu" %>
    <%= render partial: "share/head" %>
  </div>
  <div class="container">

      <div class="row">
          <div class="col-sm-12"> </div>
          <div class="col-sm-12"><%= yield %></div>
          <div class="col-sm-12"></div>
      </div>
</div>
</body>
</html>
